@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    list-style: none;
    text-decoration: none;
}

/*global color*/
.co-wite > *{
    color: white;
}


/* grid css  */
.container-fluid{
    width: 100%;
    height: 80vh;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.grid-50 {
    width: calc(50% - 15px);
  }
.container > *{
    flex-grow: 1;
}


.header-bd-image{
    background-image: url(./img/background-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav section */
.nav-left{
    padding: 30px;

}
.nav-right{
    padding: 30px;

}
.nav-item ul li a{
    color: white;
    display: inline-block;
    padding-top: 10px;
}
.nav-item ul li a{
    color: white;
    display: inline-block;
    padding-top: 10px;
}
.nav-right ul li a{
    color: white;
    display: inline-block;
    padding-top: 10px;
}
.main-right image{
size: ;
}