.accordion{
    background:#eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font: 15px;
}

.active, .accordion:hover{
    background-color: #ccc;
}

.pane1{
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    display: none;
}